@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62.5%; }
  html ul {
    list-style-type: none; }
  html a {
    text-decoration: none;
    color: black;
    display: inline-block; }
  html body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr auto; }

@media screen and (max-width: 320px) {
  nav {
    flex-direction: column; } }

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column; } }

.escala-titulos {
  font-size: 3em; }

.escala-subtitutulos {
  font-size: 2.5em; }

.escala-parrafos {
  font-size: 2em; }

.escala-subparrafo {
  font-size: 1.8em; }

header {
  background-color: white;
  grid-column: 1/5;
  grid-row: 1;
  min-height: 15vh;
  max-width: 90%;
  margin: 0 auto; }
  header h1 {
    font-weight: bold;
    font-size: x-large;
    position: relative;
    width: 21em;
    height: 1em;
    margin: 1rem; }
  header p {
    font-weight: bold;
    font-size: medium;
    position: relative;
    width: 21em;
    height: 3em;
    margin: 1rem; }
  header nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem; }
    header nav ul {
      flex-basis: 40%;
      display: flex;
      flex-direction: row; }
      header nav ul li {
        display: flex;
        flex-direction: row;
        border: 0.1rem solid white;
        font-size: medium;
        position: relative;
        padding: 1rem 1rem;
        text-align: center; }
      header nav ul li:hover {
        border: 0.1rem solid #70ad46;
        border-radius: 0.1rem; }
        header nav ul li:hover a {
          text-decoration: none;
          color: black; }

footer {
  background-image: url(../EAE_img/caficultor.jpg);
  background-position: center;
  background-size: cover;
  grid-row: 3;
  grid-column: 1/5;
  display: flex;
  flex-direction: column;
  justify-content: 4rem;
  align-content: flex-start;
  gap: 0;
  color: #F4FCED; }
  footer p {
    font-size: 1.4em; }
  footer h3 {
    font-size: 2.5em; }
  footer .principalFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    gap: 3rem; }
    footer .principalFooter .footerContacto {
      align-self: end; }
      footer .principalFooter .footerContacto p {
        font-size: 2em; }
    footer .principalFooter .footerCompañia {
      height: 25rem;
      width: 30rem;
      align-self: end; }
  footer .pieFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    gap: 0; }
    footer .pieFooter .redes {
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-content: center;
      gap: 1rem;
      height: 4rem;
      width: 14.5rem; }
      footer .pieFooter .redes a {
        height: 2rem;
        width: 4rem; }
        footer .pieFooter .redes a img {
          max-width: 100%; }

.mainHome {
  grid-column: 1/5;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 0.4fr 1.5fr 0.4fr;
  background-color: #F4FCED; }
  .mainHome h2 {
    margin: 3rem;
    text-align: center;
    font-size: 2.5em;
    color: #b40202; }
  .mainHome .imagenHome {
    grid-row: 1;
    grid-column: 1/3;
    background-image: url(../EAE_img/campo_arado.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    height: 30rem;
    width: 100%;
    justify-content: center;
    align-items: center; }
    .mainHome .imagenHome p {
      color: white;
      font-size: 2em;
      text-align: center; }
  .mainHome .presentacionEmpresa {
    grid-column: 1/3;
    grid-row: 2;
    text-align: center; }
    .mainHome .presentacionEmpresa .contenedorPresentacion {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      gap: 4rem; }
      .mainHome .presentacionEmpresa .contenedorPresentacion picture img {
        height: 45rem;
        width: 35rem; }
    .mainHome .presentacionEmpresa div ul {
      list-style: square;
      text-align: start;
      height: 6rem;
      width: 34rem;
      font-size: 1.5em; }
    .mainHome .presentacionEmpresa h2 {
      margin: 8rem;
      text-align: center;
      font-size: 3em;
      color: #b40202; }
    .mainHome .presentacionEmpresa div h2 {
      margin: 5rem;
      text-align: center;
      font-size: 3em;
      color: #b40202; }
    .mainHome .presentacionEmpresa p {
      font-size: 2em;
      text-align: start; }
  .mainHome .presentacionServicios {
    grid-column: 1/3;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    gap: 10rem; }
    .mainHome .presentacionServicios h2 {
      grid-row: 1;
      grid-column: 1/3;
      display: flex;
      justify-content: center;
      font-size: 3em; }
    .mainHome .presentacionServicios p {
      font-size: 1.5em;
      text-align: start; }
    .mainHome .presentacionServicios h3 {
      color: #b40202;
      font-size: 2.5em; }
    .mainHome .presentacionServicios .tramitesHome {
      grid-row: 2;
      grid-column: 1/2;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-stard;
      align-content: center;
      gap: 1rem; }
      .mainHome .presentacionServicios .tramitesHome div {
        padding: 2rem 2rem;
        flex-basis: 50%; }
      .mainHome .presentacionServicios .tramitesHome picture {
        height: 20rem;
        width: 20rem;
        flex-basis: 35%; }
        .mainHome .presentacionServicios .tramitesHome picture img {
          height: 20rem;
          width: 20rem;
          max-width: 100%; }
    .mainHome .presentacionServicios .consultoriaHome {
      grid-row: 2;
      grid-column: 2/3;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-stard;
      align-content: center;
      gap: 1rem; }
      .mainHome .presentacionServicios .consultoriaHome div {
        padding: 2rem 2rem;
        flex-basis: 50%; }
      .mainHome .presentacionServicios .consultoriaHome picture {
        height: 20rem;
        width: 20rem;
        flex-basis: 35%; }
        .mainHome .presentacionServicios .consultoriaHome picture img {
          height: 20rem;
          width: 20rem;
          max-width: 90%; }
    .mainHome .presentacionServicios .registroHome {
      grid-row: 3;
      grid-column: 1/2;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-stard;
      align-content: center;
      gap: 1rem; }
      .mainHome .presentacionServicios .registroHome div {
        padding: 2rem 2rem;
        flex-basis: 50%; }
      .mainHome .presentacionServicios .registroHome picture {
        height: 20rem;
        width: 20rem;
        flex-basis: 35%; }
        .mainHome .presentacionServicios .registroHome picture img {
          height: 20rem;
          width: 20rem;
          max-width: 90%; }
    .mainHome .presentacionServicios .capacitacionesHome {
      grid-row: 3;
      grid-column: 2/3;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-stard;
      align-content: center;
      gap: 1rem; }
      .mainHome .presentacionServicios .capacitacionesHome div {
        padding: 2rem 2rem;
        flex-basis: 50%; }
      .mainHome .presentacionServicios .capacitacionesHome picture {
        height: 20rem;
        width: 20rem;
        flex-basis: 35%; }
        .mainHome .presentacionServicios .capacitacionesHome picture img {
          height: 20rem;
          width: 20rem;
          max-width: 90%; }
    .mainHome .presentacionServicios .otrosHome {
      grid-row: 4;
      grid-column: 1/2;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-stard;
      align-content: center;
      gap: 1rem; }
      .mainHome .presentacionServicios .otrosHome div {
        padding: 2rem 2rem;
        flex-basis: 50%; }
      .mainHome .presentacionServicios .otrosHome picture {
        height: 20rem;
        width: 20rem;
        flex-basis: 35%; }
        .mainHome .presentacionServicios .otrosHome picture img {
          height: 20rem;
          width: 20rem;
          max-width: 90%; }
    .mainHome .presentacionServicios .botonCotizacion {
      grid-row: 4;
      grid-column: 2/3;
      display: flex;
      justify-content: center;
      align-items: center; }
      .mainHome .presentacionServicios .botonCotizacion a input {
        height: 4.5rem;
        width: 20rem;
        border-radius: 1rem;
        background-color: #70AD46;
        font-size: 2em;
        box-shadow: 1rem 1rem 1rem lightslategray; }
    .mainHome .presentacionServicios .bordeSeparacion {
      grid-column: 1/3; }
  .mainHome .clientes {
    grid-column: 1/3;
    grid-row: 4;
    margin: 3rem; }
    .mainHome .clientes h2 {
      font-size: 3em;
      color: #b40202;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: flex-start;
      gap: 0; }
    .mainHome .clientes .logoClientes {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 1fr 1fr; }
      .mainHome .clientes .logoClientes picture img {
        height: 7.5rem;
        width: 10.5rem;
        margin: 2rem; }

.mainServicios {
  grid-column: 1/5;
  grid-row: 2;
  background-color: #F4FCED;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  gap: 5rem; }
  .mainServicios .imagenServicios {
    background-image: url(../EAE_img/cultivo_maracuya.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; }
    .mainServicios .imagenServicios h2 {
      height: 30rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3em;
      font-weight: bold;
      text-align: center;
      color: #b40202; }
  .mainServicios .accordion {
    margin-bottom: 5rem;
    margin-top: 5rem; }
    .mainServicios .accordion .accordion-item, .mainServicios .accordion .accordion-button {
      background-color: transparent;
      color: black; }
    .mainServicios .accordion div ul {
      list-style: inside; }
    .mainServicios .accordion .accordion-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: start;
      gap: 3rem; }
      .mainServicios .accordion .accordion-body picture {
        display: flex;
        justify-content: center; }
        .mainServicios .accordion .accordion-body picture img {
          max-width: 100%;
          height: 30rem;
          width: 65rem;
          justify-content: center; }

.mainNosotros {
  grid-column: 1/5;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.4fr 1fr;
  background-color: #F4FCED; }
  .mainNosotros .imagenNosotros {
    grid-row: 1;
    grid-column: 1;
    background-image: url(../EAE_img/herbicida.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover; }
    .mainNosotros .imagenNosotros h2 {
      height: 30rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3em;
      font-weight: bold;
      text-align: center;
      color: #b40202; }
  .mainNosotros .introduccionEquipo {
    grid-row: 2;
    grid-column: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    gap: 4rem;
    margin-top: 10rem; }
    .mainNosotros .introduccionEquipo div {
      height: auto;
      width: 40rem; }
    .mainNosotros .introduccionEquipo .preguntaEquipo {
      height: auto;
      width: 22rem; }
    .mainNosotros .introduccionEquipo ul {
      list-style: inherit; }
      .mainNosotros .introduccionEquipo ul li {
        font-size: 1.4em; }
    .mainNosotros .introduccionEquipo h2 {
      font-size: 2.5em;
      color: #b40202; }
    .mainNosotros .introduccionEquipo p {
      font-family: 'Times New Roman', Times, serif;
      font-size: 2em; }
  .mainNosotros #carouselExampleDark {
    grid-row: 3;
    grid-column: 1;
    height: 60rem;
    width: 80rem;
    margin: 10rem auto; }
    .mainNosotros #carouselExampleDark .carousel-item img {
      height: 60rem;
      width: 100rem; }
    .mainNosotros #carouselExampleDark .carousel-inner img {
      height: 60rem;
      width: 100rem; }
    .mainNosotros #carouselExampleDark .carousel-caption {
      color: white; }

.mainGaleria {
  display: flex;
  flex-direction: column;
  grid-column: 1/5;
  grid-row: 2;
  background-color: #F4FCED; }
  .mainGaleria h2 {
    font-size: 3em;
    color: #b40202;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 0;
    margin: 3rem auto; }
  .mainGaleria .galeria {
    display: grid;
    gap: 1rem;
    margin-bottom: 3rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 0.5fr);
    grid-template-areas: "img1 img2 img3 img3" "img1 img2 img3 img3" "img4 img5 img5 img5" "img4 img6 img7 img8" "img9 img9 img10 img8"; }
    .mainGaleria .galeria .img1 {
      grid-area: img1; }
    .mainGaleria .galeria .img2 {
      grid-area: img2; }
    .mainGaleria .galeria .img3 {
      grid-area: img3; }
    .mainGaleria .galeria .img4 {
      grid-area: img4; }
    .mainGaleria .galeria .img5 {
      grid-area: img5; }
    .mainGaleria .galeria .img6 {
      grid-area: img6; }
    .mainGaleria .galeria .img7 {
      grid-area: img7; }
    .mainGaleria .galeria .img8 {
      grid-area: img8; }
    .mainGaleria .galeria .img9 {
      grid-area: img9; }
    .mainGaleria .galeria .img10 {
      grid-area: img10; }
    .mainGaleria .galeria img {
      height: 100%;
      width: 100%; }
    .mainGaleria .galeria picture:hover {
      filter: opacity(90%);
      transition: filter .5s; }

.mainContacto {
  grid-column: 1/5;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F4FCED; }
  .mainContacto h2 {
    display: inline;
    color: #b40202;
    font-size: 2.5em; }
  .mainContacto .mapaContacto .mapaGrande {
    margin: 3rem auto; }
  .mainContacto .mapaContacto .mapaChico {
    display: none; }
  .mainContacto .contenedorFormulario {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    gap: 3rem;
    margin: 4rem auto; }
    .mainContacto .contenedorFormulario .imagenContacto {
      height: 40rem;
      width: 32rem; }
      .mainContacto .contenedorFormulario .imagenContacto img {
        width: 100%; }
    .mainContacto .contenedorFormulario .formulario h2 {
      font-size: 2em;
      color: #b40202;
      margin: 3rem auto; }
    .mainContacto .contenedorFormulario .formulario .formularioContacto {
      display: flex;
      flex-direction: column;
      justify-content: flex-stard;
      align-content: center;
      gap: 1rem; }
      .mainContacto .contenedorFormulario .formulario .formularioContacto div {
        justify-content: space-around; }
      .mainContacto .contenedorFormulario .formulario .formularioContacto button {
        height: 3.5rem;
        width: 8rem;
        border-radius: 1rem;
        background-color: #70AD46;
        font-size: 1.5em;
        box-shadow: 1rem 1rem 1rem lightslategray; }
      .mainContacto .contenedorFormulario .formulario .formularioContacto input[name="nombre"] {
        width: 25rem; }
      .mainContacto .contenedorFormulario .formulario .formularioContacto input[name="correo"] {
        width: 25rem; }
      .mainContacto .contenedorFormulario .formulario .formularioContacto input[name="caja-de-mensaje"] {
        height: 20rem;
        width: 25rem; }

@media screen and (max-width: 768px) {
  header nav .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 50%; }
    header nav .contenedor ul {
      margin: 0 auto; }
    header nav .contenedor .nombreLema h1, header nav .contenedor p {
      width: 100%;
      margin-bottom: 4rem; } }

@media screen and (max-width: 768px) {
  .principalFooter {
    font-size: 0.6em; }
    .principalFooter .pieFooter {
      font-size: 0.6em; } }

@media screen and (max-width: 768px) {
  .mainHome .presentacionEmpresa .contenedorPresentacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 2rem; }
  .mainHome .presentacionServicios {
    display: flex;
    flex-direction: column;
    gap: 3rem; }
    .mainHome .presentacionServicios .tramitesHome, .mainHome .presentacionServicios .consultoriaHome, .mainHome .presentacionServicios .registroHome, .mainHome .presentacionServicios .capacitacionesHome, .mainHome .presentacionServicios .otrosHome {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-content: center;
      gap: 1rem;
      justify-items: center; }
  .mainHome .clientes .logoClientes {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-rows: repeat(4, 1fr); }
    .mainHome .clientes .logoClientes picture img {
      height: 5.5rem;
      width: 6.5rem;
      margin: 2rem; } }

@media screen and (max-width: 768px) {
  .mainServicios .servicioTramites, .mainServicios .servicioConsultorias, .mainServicios .servicioCapacitaciones, .mainServicios .otrosServicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 2rem; } }

@media screen and (max-width: 768px) {
  .mainNosotros .introduccionEquipo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 1.5rem; }
    .mainNosotros .introduccionEquipo div {
      height: auto;
      width: auto; }
  .mainNosotros #carouselExampleDark {
    height: 20rem;
    width: 30rem;
    margin: 5rem auto; }
    .mainNosotros #carouselExampleDark .carousel-item img {
      height: 20rem;
      width: 30rem; }
    .mainNosotros #carouselExampleDark .carousel-inner img {
      height: 20rem;
      width: 30rem; } }

@media screen and (max-width: 768px) {
  #carouselExampleFade {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 0;
    height: 40rem;
    width: 100%;
    margin: 10rem auto; }
    #carouselExampleFade .carousel-item img, #carouselExampleFade .carousel-inner img {
      height: 40rem;
      width: 100%; } }

@media screen and (max-width: 768px) {
  .mainContacto .mapaContacto .mapaGrande {
    display: none; }
  .mainContacto .mapaContacto .mapaChico {
    display: flex;
    margin: 3rem auto; }
  .mainContacto .contenedorFormulario {
    display: flex;
    flex-direction: column-reverse; }
    .mainContacto .contenedorFormulario .imagenContacto {
      height: 40rem;
      width: 25rem; } }
