* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }
  * html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%; }
  * ul {
    list-style-type: none; }
  * a {
    text-decoration: none;
    color: black;
    display: inline-block; }
  * body {
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr auto; }
  @media screen and (max-width: 320px) {
    * nav {
      flex-direction: column; } }
  @media screen and (max-width: 600px) {
    * nav {
      flex-direction: column; } }

.escala-titulos {
  font-size: 3em; }

.escala-subtitutulos {
  font-size: 2.5em; }

.escala-parrafos {
  font-size: 2em; }

.escala-subparrafo {
  font-size: 1.8em; }

header {
  background-color: white;
  /*grid-area: header;*/
  grid-column: 1/5;
  grid-row: 1;
  min-height: 15vh;
  max-width: 100%;
  margin: 0 auto; }
  header .nombreLema {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap; }
  header h1 {
    font-weight: bold;
    font-size: x-large;
    position: relative;
    width: 21em;
    height: 2em;
    margin: 0.2rem; }
  header h2 {
    font-weight: bold;
    font-size: medium;
    position: relative;
    width: 21em;
    height: 3em;
    margin: 0.2rem; }
  header nav {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 0 2rem; }
    header nav picture {
      flex-basis: 35%; }
    header nav ul {
      flex-basis: 40%;
      display: flex;
      flex-direction: row; }
      header nav ul li {
        display: flex;
        flex-direction: row;
        border: 0.1rem solid white;
        font-size: medium;
        position: relative;
        padding: 1rem 1rem;
        text-align: center; }
      header nav ul li:hover {
        border: 0.1rem solid #70ad46; }
        header nav ul li:hover a {
          text-decoration: none;
          color: black; }

.mainHome {
  grid-column: 1/5;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.4fr 0.4fr 1fr 0.4fr;
  background-color: #F4FCED; }
  .mainHome h2 {
    margin: 3rem 0 3rem 0;
    text-align: center;
    font-size: 2.5em;
    color: #b40202; }
  .mainHome .imagenHome {
    grid-row: 1;
    grid-column: 1/3;
    background-image: url(../EAE_img/equipo_campo1.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 30rem;
    width: 100%;
    justify-content: center;
    align-items: center; }
    .mainHome .imagenHome p {
      color: white;
      font-size: 2em;
      text-align: center; }
  .mainHome .presentacionEmpresa {
    grid-column: 1/3;
    grid-row: 2;
    text-align: center;
    margin: 1rem 2rem;
    font-size: 2em; }
  .mainHome .presentacionServicios {
    grid-column: 1/3;
    grid-row: 3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    margin: 4rem 4rem; }
    .mainHome .presentacionServicios h2 {
      grid-row: 1;
      grid-column: 1/3;
      display: flex;
      justify-content: center;
      font-size: 3em; }
    .mainHome .presentacionServicios .tramitesHome {
      grid-row: 2;
      grid-column: 1/2;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-stard;
      align-content: center;
      gap: 0; }
      .mainHome .presentacionServicios .tramitesHome h3 {
        color: #b40202; }
      .mainHome .presentacionServicios .tramitesHome picture {
        height: 20rem;
        width: 20rem; }
        .mainHome .presentacionServicios .tramitesHome picture img {
          width: 90%; }
    .mainHome .presentacionServicios .consultoriaHome {
      grid-row: 2;
      grid-column: 2/3;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-stard;
      align-content: center;
      gap: 0; }
      .mainHome .presentacionServicios .consultoriaHome h3 {
        color: #b40202; }
      .mainHome .presentacionServicios .consultoriaHome picture {
        height: 20rem;
        width: 20rem; }
        .mainHome .presentacionServicios .consultoriaHome picture img {
          width: 90%; }
    .mainHome .presentacionServicios .registroHome {
      grid-row: 3;
      grid-column: 1/2;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-stard;
      align-content: center;
      gap: 0; }
      .mainHome .presentacionServicios .registroHome h3 {
        color: #b40202; }
      .mainHome .presentacionServicios .registroHome picture {
        height: 20rem;
        width: 20rem; }
        .mainHome .presentacionServicios .registroHome picture img {
          width: 90%; }
    .mainHome .presentacionServicios .capacitacionesHome {
      grid-row: 3;
      grid-column: 2/3;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-stard;
      align-content: center;
      gap: 0; }
      .mainHome .presentacionServicios .capacitacionesHome h3 {
        color: #b40202; }
      .mainHome .presentacionServicios .capacitacionesHome picture {
        height: 20rem;
        width: 20rem; }
        .mainHome .presentacionServicios .capacitacionesHome picture img {
          width: 90%; }
    .mainHome .presentacionServicios .otrosHome {
      grid-row: 4;
      grid-column: 1/2;
      display: flex;
      flex-direction: row-reverse;
      justify-content: flex-stard;
      align-content: center;
      gap: 0; }
      .mainHome .presentacionServicios .otrosHome h3 {
        color: #b40202; }
      .mainHome .presentacionServicios .otrosHome picture {
        height: 20rem;
        width: 20rem; }
        .mainHome .presentacionServicios .otrosHome picture img {
          width: 90%; }
    .mainHome .presentacionServicios .botonCotizacion {
      grid-row: 4;
      grid-column: 2/3;
      display: flex;
      justify-content: center;
      align-items: center; }
  .mainHome .clientes {
    grid-column: 1/3;
    grid-row: 4;
    margin: 3rem; }
    .mainHome .clientes h2 {
      font-size: 3em;
      color: #b40202;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: flex-start;
      gap: 0; }
    .mainHome .clientes .logoClientes {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 1fr 1fr; }
      .mainHome .clientes .logoClientes picture img {
        height: 7.5rem;
        width: 10.5rem;
        margin: 2rem; }

.mainServicios {
  grid-column: 1/5;
  grid-row: 2;
  background-color: #F4FCED;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: flex-start;
  gap: 0; }
  .mainServicios h2 {
    height: 30rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    color: #b40202;
    background-image: url(../EAE_img/cultivo_rosas_blancas.jpeg);
    background-position: center;
    background-repeat: no-repeat; }
  .mainServicios h3 {
    font-size: 2.5em;
    color: #b40202; }
  .mainServicios picture {
    height: 20em;
    width: 30em; }
    .mainServicios picture img {
      width: 90%; }
  .mainServicios .servicioTramites {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 0;
    margin: 2rem 3rem auto; }
  .mainServicios .servicioConsultorias {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-stard;
    align-content: center;
    gap: 0;
    margin: 2rem 3rem auto; }
  .mainServicios .servicioCapacitaciones {
    display: flex;
    flex-direction: row;
    justify-content: flex-stard;
    align-content: center;
    gap: 0;
    margin: 2rem 3rem auto; }
  .mainServicios .otrosServicios {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-stard;
    align-content: center;
    gap: 0;
    margin: 2rem 3rem auto; }

.mainNosotros {
  grid-column: 1/5;
  grid-row: 2;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 0.4fr 1fr;
  background-color: #F4FCED; }
  .mainNosotros .imagenNosotros {
    grid-row: 1;
    grid-column: 1;
    background-image: url(../EAE_img/cultivo_rosas.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    height: 30rem;
    width: 100%;
    justify-content: center;
    align-items: center; }
    .mainNosotros .imagenNosotros h2 {
      font-size: 3em;
      color: #b40202;
      text-align: center; }
  .mainNosotros .introduccionEquipo {
    grid-row: 2;
    grid-column: 1; }
    .mainNosotros .introduccionEquipo p {
      text-align: center;
      font-family: 'Times New Roman', Times, serif;
      margin: 3rem auto;
      font-size: 2em;
      height: 20rem;
      width: 100%; }
  .mainNosotros #carouselExampleDark {
    grid-row: 3;
    grid-column: 1;
    height: 40rem;
    width: 100%;
    margin: 10rem auto; }
    .mainNosotros #carouselExampleDark .carousel-item img {
      height: 40rem;
      width: 60rem; }
    .mainNosotros #carouselExampleDark .carousel-inner img {
      height: 40rem;
      width: 60rem; }
    .mainNosotros #carouselExampleDark .carousel-caption {
      color: white; }

.mainGaleria {
  display: flex;
  flex-direction: column;
  grid-column: 1/5;
  grid-row: 2;
  background-color: #F4FCED; }
  .mainGaleria h2 {
    font-size: 3em;
    color: #b40202;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 0;
    margin: 3rem auto; }
  .mainGaleria #carouselExampleFade {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 0;
    height: 40rem;
    width: 100%;
    margin: 10rem auto; }
    .mainGaleria #carouselExampleFade .carousel-item img, .mainGaleria #carouselExampleFade .carousel-inner img {
      height: 40rem;
      width: 100%; }

.mainContacto {
  grid-column: 1/5;
  grid-row: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #F4FCED; }
  .mainContacto h2 {
    display: inline;
    color: #b40202;
    font-size: 2.5em; }
  .mainContacto .mapaContacto .mapaGrande {
    margin: 3rem auto; }
    .mainContacto .mapaContacto .mapaGrande .mapaChico {
      display: none; }
  .mainContacto .contenedorFormulario {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    gap: 3rem;
    margin: 4rem auto; }
    .mainContacto .contenedorFormulario .imagenContacto {
      height: 40rem;
      width: 32rem; }
      .mainContacto .contenedorFormulario .imagenContacto img {
        width: 100%; }
    .mainContacto .contenedorFormulario .formulario h2 {
      font-size: 2em;
      color: #b40202;
      margin: 3rem auto; }
    .mainContacto .contenedorFormulario .formulario .formularioContacto {
      display: flex;
      flex-direction: column;
      justify-content: flex-stard;
      align-content: center;
      gap: 1rem; }
      .mainContacto .contenedorFormulario .formulario .formularioContacto input[name="nombre"] {
        width: 25rem; }
      .mainContacto .contenedorFormulario .formulario .formularioContacto input[name="correo"] {
        width: 25rem; }
      .mainContacto .contenedorFormulario .formulario .formularioContacto input[name="caja-de-mensaje"] {
        height: 20rem;
        width: 25rem; }

footer {
  background-image: url(../EAE_img/cebollasfondo.jpg);
  grid-row: 3;
  grid-column: 1/5;
  margin: 0px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around; }
  footer a {
    position: relative;
    margin: 2rem; }
  footer h3 {
    position: relative;
    margin: 2rem; }
  footer p {
    width: 20em;
    height: 10em;
    margin: 2rem; }

@media screen and (max-width: 600px) {
  header nav {
    display: flex;
    flex-direction: column;
    font-size: 0.8em; } }

@media screen and (max-width: 600px) {
  .mainHome .presentacionServicios {
    display: flex;
    flex-direction: column; }
  .mainHome .clientes .logoClientes {
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
    grid-template-rows: repeat(4, 1fr); }
    .mainHome .clientes .logoClientes picture img {
      height: 5.5rem;
      width: 6.5rem;
      margin: 2rem; } }

@media screen and (max-width: 600px) {
  .mainServicios .servicioTramites, .mainServicios .servicioConsultorias, .mainServicios .servicioCapacitaciones, .mainServicios .otrosServicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 0; } }

@media screen and (max-width: 600px) {
  #carouselExampleDark {
    height: 20rem;
    width: 30rem;
    margin: 5rem auto; }
    #carouselExampleDark .carousel-item img {
      height: 20rem;
      width: 30rem; }
    #carouselExampleDark .carousel-inner img {
      height: 20rem;
      width: 30rem; } }

@media screen and (max-width: 600px) {
  .mainContacto .mapaContacto .mapaGrande {
    display: none;
    margin: 3rem auto; }
  .mainContacto .contenedorFormulario {
    display: flex;
    flex-direction: column-reverse; }
    .mainContacto .contenedorFormulario .imagenContacto {
      height: 40rem;
      width: 25rem; } }
