/* reseteo */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
}
ul{
list-style-type: none;
}
a{
    text-decoration: none;
    display: inline-block;
}




/* header */
body{
    display: grid;
    min-height: 100vh;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 3;
    /*grid-template-areas: 
    "header header header header"
    "mainaHome mainHome mainHome mainhome"
    "footer footer footer footer"*/
    ;
}

header{ background-color:white;
    /*grid-area: header;*/
    grid-column: 1/5;
    grid-row: 1;
    min-height: 15vh;
    max-width: 1080px;
    margin: 0 auto;
}

header nav{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding:0 2rem;

   
}


.nombreLema{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;


}


h1{
    font-weight: bold;
    font-size:x-large;
    position: relative;
    width: 600px;
    height: 50px;
    margin: 2px;

   
    }  
  header h2{
    font-weight: bold;
    font-size: medium;
    
    position: relative;
    width: 600px;
    height: 50px;
    margin: 2px  ;

      }


  
  header .logo{
    flex-basis: 35%;
  }

  header nav ul{
flex-basis: 40%;
justify-content: space-between;
display: flex;
flex-direction: row;

  }
  header nav ul li{
      display: flex;
      flex-direction: row;
      border: 2px solid floralwhite;
      font-size: medium;
  
  
     
     position: relative;
      padding: 5px 10px;
      margin:30px 30px 0px 10px;
      text-align:center;
  }

  header nav ul li:hover{
      border:2px solid rgba(112,173,70,255) ;
  }

  header nav ul li a{
 
    text-decoration: none;
    color: black; 
}

.mainHome{
    background-color: rgba(112,173,70,255);
    /*grid-area: mainHome;*/
    grid-column: 1/5;
    grid-row: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}


.imagenHome{
    /* grid-area: mainHome; */
    width: 1440px;
    height: 550px;
    grid-column: 1/3;
    grid-row: 1;
}
.presentacionEmpresa{
    grid-column: 1/3;
    grid-row: 2;
}
.presentacionEmpresa h2{
    text-align: center;
    color: black;
margin: 30px;
}
.presentacionEmpresa p{

text-align: center;
margin: 60px;
}
.mainHome section{
    grid-row: 3;
    grid-column: 1/3;
    flex-direction: column;
}
.presentacionServicios {
    /* grid-area: presentacionServicios; */
    
    position:relative;
    width: 400px;
    height: 300px;
    padding: 20px 20px;
    margin: 60px;
    top: 60px;

}

.mainHome section{
    width: 1440px;
    height: 700px;
    /* display: inline-block; */
    display: flex;
    flex-direction: column;
}
.listaServicios{
    position: absolute;
    width: 400px;
    height: 300px;
    top: 200px;
}
.botonCotizacion{
    display: block;
    top: auto;
}
.imagenServiciosHome{
    position: relative;
    width: 450px;
    height: 600px;
    left: 650px;

}
.presentacionNosotros{
    position: relative;
    grid-row: 4;
    grid-column: 1/3;
    width: 1440px;
height: 700px;
margin: 0px;
background-color: rgba(180,2,2,255) ;



}
.presentacionNosotros ul {
    width: 1440px;
    height: 600px;
    position: relative;
    list-style: none;
    display:inline block;
   
    }
   
    .presentacionNosotros ul li{
    position: relative;
    width: 250px;
    height: 200px;
    display: inline-block;
    left: 300px;
top: 100px;
font-family:'Times New Roman', Times, serif;
color: aliceblue;
    }

    
.presentacionNosotros ul li img{
position: relative;
    width: 250px;
    height: 200px;
    margin: 10px auto;
    padding: 20px;
    

    

}
 footer{
     background-image: url(../EAE\ img/cebollasfondo.jpg);
     background-position: center;
     /*grid-area: footer;*/
     grid-row: 3;
     grid-column: 1/5;
     margin: 0px;
     /* height: 300px;
     width: 1440px; */


 }
 footer article p{
     width: 200px;
     height: 100px;
     margin :20px;

 }
 footer a{
     position: relative;
     left: 1120px;
     margin: 2opx
     ;
 }
 footer h3{
     position:relative;
     margin: 5px;
 }

 /* servicios */

 main h2 {
     font-size: larger;
     font-weight: bold;
     text-align: center;
    
 }
 #Servicios{
     position: relative;
     display: inline-block;
     padding: 10px;

 }
 .imagenServicios{
     width: 1440px;
     height: 500px;

 }

 .servicioTramites h3{
     font-weight: bold;
     font-size: medium;
     

 }

 /* Nosotros*/
 .imagenNosotros{
     width: 1440px;
     height: 600px;
 }
 .introduccionEquipo p{
     text-align: center;
     font-family: 'Times New Roman', Times, serif;
     padding: 60px;

 }
 .nuestroEquuipo{
     display: inline-block;


 }
.nuestroEquipo img{
    width: 200px;
    height: 200px;
    margin: 50px;
    display: inline-block;
}
 
/*Contacto*/
.mainContacto{
    grid-column: 1/5;
    grid-row: 2;

    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 1fr;

    
    
    
}

.imagenContacto{
    width: 700px;
    height: 400px;
    grid-column: 1/2;
grid-row: 1;
}
.formularioContacto{
    grid-column: 2/4;
    grid-row: 1;
   
   
}

 
