footer{
    background-image: url(../EAE_img/cebollasfondo.jpg);
    grid-row: 3;
    grid-column: 1/5;
    margin: 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    a{
        position: relative;
        margin: 2rem;
    }
    h3{
        position:relative;
        margin: 2rem;
    }
    p{
        width: 20em;
        height: 10em;
        margin :2rem;
   
    }
  

}