
header{ background-color:white;
    grid-column: 1/5;
    grid-row: 1;
    min-height: 15vh;
    max-width: 90%;
    margin: 0 auto;
    
    
    
    h1{
        font-weight: bold;
        font-size:x-large;
        position: relative;
        width: 21em;
        height: 1em;
        margin: 1rem;
    
       
        }  
        p{
            font-weight: bold;
            font-size: medium;
            position: relative;
            width: 21em;
            height: 3em;
            margin: 1rem;
        
              }
        
    
    nav{
        background-color: white;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        padding:0 2rem;
        
       
        
        ul{
            flex-basis: 40%;
            
            display: flex;
            flex-direction: row;
            
              
              li{
                display: flex;
                flex-direction: row;
                border: 0.1rem solid white;
                font-size: medium;
                position: relative;
                padding: 1rem 1rem;
                text-align: center;
            
            }
            li:hover{
                border: 0.1rem solid rgba(112,173,70,255) ;
                border-radius: 0.1rem;
                a{
 
                    text-decoration: none;
                    color: black; 
                }
            }
          
        }
       
    }
   

}
