.mainContacto{
    grid-column: 1/5;
    grid-row: 2;
    display: grid;
    grid-template-areas: "mapa mapa""formulario imagenContacto";
    justify-content: center;
    align-items: center;
    background-color: $terciario;

   .mapaContacto{
     grid-area: mapa;
     @include flex(row,flex-stard,center);
   }

   .imagenContacto{
     @include size(40rem,32rem);
   
    grid-area: imagenContacto;
    margin: 2rem 4rem;
        
     img{
          width: 100%;
       }
    }
    .formulario{
        h2{
          font-size: 2em;
          color: rgba(180,2,2,255);
          margin-bottom: 2rem;
          margin-top: 2rem;
        }
   
       .formularioContacto{
           grid-area: formulario;
           @include flex(column,flex-stard,center,1rem);
        

          input[name="nombre"]{
              width: 25rem;
            }
        
          input[name="correo"]{
              width: 25rem;
            }
          input[name="caja-de-mensaje"]{
            @include size(20rem,25rem);
              
            }
         
        }
    }
}
