.mainGaleria{
    display: flex;
    flex-direction: column;
    grid-column: 1/5;
    grid-row: 2;
    background-color: $terciario;
    

    h2{
        font-size: $titulos;
        color: $color_titulos;
        @include flex(row,center,center);
        margin: 3rem auto;
       
    }
    #carouselExampleFade{
        @include flex(row,center,center);
        @include size(40rem,80%);
        margin: 10rem auto ;
        
        
       
        .carousel-item img,.carousel-inner img{
            @include size(40rem,80%);
           
        }

        
    }

}