.mainGaleria{
    display: flex;
    flex-direction: column;
    grid-column: 1/5;
    grid-row: 2;
    background-color: $terciario;
   

    h1{
        font-size: $titulos;
        color: $color_titulos;
        @include flex(row,flex-stard,center);
       
    }
    #carouselExampleFade{
        @include size(40rem,60rem);
        margin: 10rem auto ;
        @include flex(row,flex-stard,center);
        
        
       
        .carousel-item img{
            @include size(40rem,60rem);
           
        }

        
    }

}