.mainNosotros{
    grid-column: 1/5;
    grid-row: 2;
    display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 0.5fr 0.4fr 1fr;
   background-color: $terciario;
   .imagenNosotros{
       grid-row: 1;
       img{
            max-width: 100%;
        
        }
       
   }
    .introduccionEquipo{
        grid-row: 2;
        p{
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            padding: 6em;
       
        }
        
    }
    #carouselExampleDark{
        grid-row:3;
        @include size(40rem,60rem);
       
        margin: 10rem auto ;
        
        
        
       
        .carousel-item img{
            @include size(40rem,60rem);
        }
        .carousel-inner img{
            @include size(40rem,60rem);
        }
        .carousel-caption {
            color: white;
           }

    }
}