.mainNosotros{
    grid-column: 1/5;
    grid-row: 2;
    display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 0.5fr 0.4fr 1fr;
   background-color: $terciario;
   .imagenNosotros{
       grid-row: 1;
       grid-column: 1;
       background-image: url(../EAE_img/cultivo_rosas.jpeg);
       background-position: center;
       background-repeat: no-repeat;
       display: flex;
       @include size(30rem,100%);
        justify-content: center;
        align-items: center;
     

       h2{
           font-size: $titulos;
           color: $color_titulos;
           text-align: center;
           
       }
       
   }
    .introduccionEquipo{
        grid-row: 2;
        grid-column: 1;
        p{
            text-align: center;
            font-family: 'Times New Roman', Times, serif;
            margin: 3rem auto;
            font-size: $parrafos;
            @include size(20rem,100%);
       
        }
        
    }
    #carouselExampleDark{
        grid-row:3;
        grid-column: 1;
        @include size(40rem,80%);
        margin: 10rem auto ;
        
        
        
       
        .carousel-item img{
            @include size(40rem,60rem);
        }
        .carousel-inner img{
            @include size(40rem,60rem);
        }
        .carousel-caption {
            color: white;
           }

    }
}