.mainNosotros{
    grid-column: 1/5;
    grid-row: 2;
    display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 0.5fr 0.4fr 0.4fr;
   background-color: $terciario;

.imagenNosotros{
    grid-row: 1;
    grid-column: 1;
    background-image: url(../EAE_img/herbicida.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

       
    h2 {
        @include size(30rem,100%);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: $titulos;
        font-weight: bold;
        text-align: center;
        color: $color_titulos;
        

         }
        }
    .introduccionEquipo{
        grid-row: 2;
        grid-column: 1;
        @include flex(row,space-around,center,5rem);
        margin-top: 10rem;
        div{
            @include size (auto,40rem);
        }
        .preguntaEquipo{
            @include size (auto,22rem);
        }
        ul{
            list-style: inherit;
            li{font-size: $subparrafo;
            }
        }

        h2{
            font-size: $subtitulos;
            color: $color_titulos;
        }
        p{
            font-family: 'Times New Roman', Times, serif;
            font-size: $parrafos;
       
        }


        
    }
    #carouselExampleDark{
        grid-row:3;
        grid-column: 1;
        @include size(60rem,80rem);
        margin: 10rem auto ;
        
        
        
       
        .carousel-item img{
             @include size(60rem,100rem);
            // object-fit: contain;

        }
        .carousel-inner img{
             @include size(60rem,100rem);
            // object-fit: contain;
        }
        .carousel-caption {
            color: white;
    
           }

    }
}