.mainServicios{ 
        grid-column: 1/5;
        grid-row: 2;
        background-color: $terciario;
        position: relative;
        @include flex(column,start,center,5rem);
       
       
        
       .imagenServicios{
        background-image: url(../EAE_img/cultivo_maracuya.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
           
        h2 {
            @include size(30rem,100%);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $titulos;
            font-weight: bold;
            text-align: center;
            color: $color_titulos;
            

             }
            }
       
        
       
        
         .accordion {
             margin-bottom: 5rem;
             margin-top: 5rem;

             
        .accordion-item, .accordion-button {

         background-color: transparent;
         color: black;
          
        
        }
        .accordion-button{
            font-size: 1em;
        }

         div ul{
            list-style: inside;
            
        }
    }
    
               

           
         .accordion-body{
             @include flex(column,center,start,3rem);
             ul li {
                 font-size: $subparrafo;
                 line-height: 2em;
             }
             picture{
                 display: flex;
                 justify-content: center;
                 
                 img{
                     max-width: 100%;
                     @include size (30rem,65rem);
                     justify-content: center;
                     
                 }
                 
             }
         }   
   }
