.mainServicios{ 
        grid-column: 1/5;
        grid-row: 2;
        background-color: $terciario;
        position: relative;
        @include flex (column,space-between);
        
       
        h2 {
            @include size(30rem,100%);
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: $titulos;
            font-weight: bold;
            text-align: center;
            color: $color_titulos;
            background-image: url(../EAE_img/cultivo_rosas_blancas.jpeg);
            background-position: center;
            background-repeat: no-repeat;
            

             }
        h3{
             font-size: $subtitulos;
             color: $color_titulos
            }
        
       
        
         picture{
             @include size(20em,30em);
               
                
                img{
                    width: 90%;
                }
               

            }
         .servicioTramites{
             @include flex(row,center,center);
             margin: 2rem 3rem auto;
            
             }

         .servicioConsultorias{
            @include flex(row-reverse,flex-stard,center);
            margin: 2rem 3rem auto;
            
             } 
         .servicioCapacitaciones{
            @include flex(row,flex-stard,center);
            margin: 2rem 3rem auto;
             } 
         .otrosServicios{
            @include flex(row-reverse,flex-stard,center);
            margin: 2rem 3rem auto;
             }     
   }
   