@mixin flex ($direction: row,$justify: flex-start,$aling: flex-start,$gap:0) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-content: $aling;
    gap: $gap;
}
@mixin size ($heigth,$width){
    height: $heigth;
    width: $width;
    
}
